<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>
    <th>
      Private?
    </th>
    <%if @current_user!= nil%>

      <th></th>
    
    <%end%>
    <th></th>
  </tr>


  <% @list_of_users.each do |a_user| %>
  <tr>
    <td>
      <%= a_user.username%>
    </td>
    <td>

      <%if a_user.private ==false%>
        No
      <% else%>
        Yes
      <% end %>
    </td>

    <%if @current_user!= nil%>
    <% checker = @current_user.requests_sent.where({ :recipient_id => a_user.id }).first %>
      <% if checker == nil %>
        <td>
          <form action="/insert_follow_request" method="post">
          <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">
          <button>Follow</button>
          </form>
        </td>
      <% else %>
        <% if checker.status == "pending" %>
        <td> 
        Request sent.
        <a href="/delete_follow_request/<%= checker.id %>">
        Cancel
        </a>
        </td>
        <% elsif checker.status == "accepted" %>
        <td>
        <a href="/delete_follow_request/<%= checker.id %>">Unfollow</a>
        </td>
        <% else %>
        <td></td>
        <% end %>
      <% end %>
    <%end%>

    <td>
      <a href="/users/<%= a_user.username %>">
        Show details
    </td>
  </tr>
  <% end %>
</table>

</body>
