<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramFinal</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

  
  <ul>
    <%if @current_user!= nil%>
      <% id = session.fetch(:user_id) %>
      <h3>Hi <%= User.where(:id => id).at(0).username %> !</h3>
    <% end %>
    <li>
      <a href ="/users">All users<a>
    </li>
    <li>
      <a href ="/photos">All public photos<a>
    </li>

    <%if session.fetch(:user_id) != nil%>
      <li>
        <a href ="/users/<%= @current_user.username %>"><%= @current_user.username %><a>
      </li>
      <li>
        <a href ="/user_sign_out">Sign Out<a>
      </li>
    <% else %>
      <li>
        <a href ="/user_sign_in">Sign In<a>
      </li>  
      <li>
        <a href ="/user_sign_up">Sign Up<a>
      </li>  
    <% end %>

  </ul>
    <%= alert %>
    <%= notice %>
    <%= yield %>

  </body>
</html>
